{% extends 'base.html' %}
{% block body %}
{% load static %}
<main class="container-fluid mt-0 px-0">
    <img src="https://images.pexels.com/photos/6985048/pexels-photo-6985048.jpeg?auto=compress&cs=tinysrgb&w=800" style="height: 20vh; width: 100%; object-fit: cover">
    <div class="container px-4">
        <div class="row" style="margin-top: -2rem;">
            <div class="col-12">
                {% if user.customer.profile_picture %}
                <img style="height: 150px; width: 150px; object-fit: cover; border-radius: 50%; border: 5px solid #1a1a1a" src="{{ user.customer.profile_picture.url }}">
                {% else %}
                <i class="fa-regular fa-user text-white" style="font-size: 4rem;"></i>
                {% endif %}
                <div class="d-flex flex-row justify-content-between align-items-start mt-3 flex-wrap gap-2">
                    <div>
                        <h1 class="text-grey-1 mb-0">{{ user.get_full_name }}</h1>
                        <p class="text-grey-2">@{{ user.username }}</p>
                        {% if user.customer.bio %}
                        <p class="text-grey-4 mb-0">{{ user.customer.bio }}</p>
                        {% else %}
                        <p class="text-grey-4 mb-0">Legends dont have bios!</p>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'edit_profile' %}" class="btn btn-outline-light rounded-2 btn-sm">Edit profile</a>
                    </div>
                </div>
            </div>
        </div>
        {% if user.customer.liked_mixes.all %}
        <hr class="text-grey-8">
        <h5 class="text-grey-3 mt-5">Activity</h5>
        <h6 class="text-grey-4">Liked mixes</h6>
        <div class="row row-cols-2 align-items-start g-3 my-3">
            {% for mix in user.customer.liked_mixes.all %}
            <div class="col-sm-12 col-md-4">
                <div class="d-flex flex-row align-items-center gap-3 mb-3">
                    <img src="{{ mix.get_landscape_thumbnail }}" style="width: 50%; height: auto; object-fit: cover" class="img-fluid rounded-4">
                    <a href="{{ mix.get_url }}" class="grey-1 no-btn hover-underline">{{ mix.get_title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr class="text-grey-8">
        {% else %}
        <hr class="text-grey-8 mt-5">
        <div class="col-sm-12 col-lg-6">
            <h4 class="text-grey-3 mt-5">Oops! You have no activities yet! :(</h4>
            <p class="text-grey-3">Start listening to <a href="{% url 'playlists' %}" class="link text-grey-1">playlists</a>, like some <a href="{% url 'mix_list' %}" class="link text-grey-1">mixes</a>, read a few <a href="{% url 'blog_list' %}" class="link text-grey-1">blogs</a>, download some fire <a href="{% url 'remixes_list' %}" class="link text-grey-1">remixes</a>, start <a href="{% url 'shop' %}" class="link text-grey-1">shopping</a> now , explore some <a href="{% url 'event_list' %}" class="link text-grey-1">events</a> — jump in and make some noise!</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}