{% load static %}
{% load hitcount_tags %}
<div class="container p-0 m-0">
    <div class="row mb-2 p-0 m-0">
        {% include 'components/search.html' %}
    </div>
    <div class="row my-2 p-0 m-0">
        <div class="p-3 rounded-4 bg-gradientToDown" id="mixes-list">
            <table class="table">
                <tbody style="border-color: #2D2D2D;">
                    <tr>
                        <td class="grey-3">Mix</td>
                        <td class="grey-3 pt-3">Genre</td>
                        <td class="grey-3 pt-3">Plays</td>
                    </tr>
                    {% for mix in mixes %}
                    <tr>
                        <td>
                            <img class="recently-uploaded-cover" src="{{ mix.get_square_cover }}" alt="">
                            <a href="{{ mix.get_url }}" class="ms-3 hover-underline grey-1">{{ mix.get_title }}</a>
                        </td>
                        <td class="grey-2 pt-3">
                            <a href="{{ mix.album.get_url }}" class="no-link">{{ mix.album.name }}</a>
                        </td>
                        <td class="grey-2 pt-3"><i class="fa-solid fa-play hover"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>