{% load static %}
<div class="container p-0 m-0">
    <figure class="figure-card bg-black rounded-4">
        <img loading="lazy" src="{% static 'img/mixes/hood_love_landscape_1280x720.jpg' %}" alt="" class="img-fluid fadeIn rounded-4">
        <figcaption>
            <p class="text-white fadeInUp">Latest release</p>
            <button class="btn btn-outline-light px-5 rounded-pill fadeInUp">Play now</button>
        </figcaption>
    </figure>
    <div class="row my-2 p-0 m-0">
        <div class="d-flex my-3 justify-content-between">
            <h4 class="grey-1">Popular mixes</h4>
            <a href="" class="p-0 nav-link hover">See all</a>
        </div>
    </div>
    <div class="container-fluid-scroll">
        <ul class="scrolling-wrapper flex-row list-unstyled">
            <li class="me-3">
                <img loading="lazy" src="https://images.unsplash.com/photo-1570158268183-d296b2892211?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="popular-mix-cover hover">
                <p class="text-center mt-2 grey-2 small">Highjacked</p>
            </li>
            <li class="me-3">
                <img loading="lazy" src="https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?q=80&w=2515&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="popular-mix-cover hover">
                <p class="text-center mt-2 grey-2 small">Rihanna Mix</p>
            </li>
            <li class="me-3">
                <img loading="lazy" src="https://images.unsplash.com/photo-1530904655194-92d55d4a006b?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="popular-mix-cover hover">
                <p class="text-center mt-2 grey-2 small">Afro Experience</p>
            </li>
            <li class="me-3">
                <img loading="lazy" src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="popular-mix-cover hover">
                <p class="text-center mt-2 grey-2 small">Hood Love</p>
            </li>
            <li class="me-3">
                <img loading="lazy" src="https://images.unsplash.com/photo-1612214070782-b97cad77ca54?q=80&w=2680&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="popular-mix-cover hover">
                <p class="text-center mt-2 grey-2 small">Mixconduct</p>
            </li>
            <li class="me-3">
                <img loading="lazy" src="https://images.pexels.com/photos/2873511/pexels-photo-2873511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="popular-mix-cover hover">
                <p class="text-center mt-2 grey-2 small">Sean Paul Mix</p>
            </li>
        </ul>
    </div>
    <div class="row my-2 p-0 m-0">
        <div class="d-flex my-3 justify-content-between">
            <h4 class="grey-1">Recently uploaded</h4>
            <a href="" class="p-0 nav-link hover">See all</a>
        </div>
    </div>
    <div class="row my-2 p-0 m-0">
        <div class="p-3 rounded-4 bg-gradientToDown">
            <table class="table">
                <tbody style="border-color: #2D2D2D;">
                    <tr>
                        <td>
                            <img class="recently-uploaded-cover" src="https://images.pexels.com/photos/17483848/pexels-photo-17483848/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-a-look-inside-how-ai-microchips-are-designed-it-was-created-by-champ-panupong-techawongthawon-as-part-of-the-v.png?auto=compress&cs=tinysrgb&w=800" alt="">
                            <span class="ms-3 hover-underline grey-1">The Shuffle</span>
                        </td>
                        <td class="grey-2 pt-3">Pop/Urban</td>
                        <td class="grey-2 pt-3"><i class="fa-solid fa-play hover"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <img class="recently-uploaded-cover" src="https://images.pexels.com/photos/17485679/pexels-photo-17485679/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-how-ai-could-be-used-in-the-field-of-sustainability-from-biodiversity-to-climate-it-was-created-by-nidia-dias.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                            <span class="ms-3 hover-underline grey-1">Highjacked</span>
                        </td>
                        <td class="grey-2 pt-3">Hip Hop/Trap</td>
                        <td class="grey-2 pt-3"><i class="fa-solid fa-play hover"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <img class="recently-uploaded-cover" src="https://images.pexels.com/photos/10771000/pexels-photo-10771000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                            <span class="ms-3 hover-underline grey-1">Local Classics</span>
                        </td>
                        <td class="grey-2 pt-3">Kenyan Local</td>
                        <td class="grey-2 pt-3"><i class="fa-solid fa-play hover"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <img class="recently-uploaded-cover" src="https://images.unsplash.com/photo-1658498042419-be460a938f93?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                            <span class="ms-3 hover-underline grey-1">Club Inferno</span>
                        </td>
                        <td class="grey-2 pt-3">Mashup</td>
                        <td class="grey-2 pt-3"><i class="fa-solid fa-play hover"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <img class="recently-uploaded-cover" src="https://images.unsplash.com/photo-1559181567-c3190ca9959b?q=80&w=2244&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                            <span class="ms-3 hover-underline grey-1">Hood Love</span>
                        </td>
                        <td class="grey-2 pt-3">RnB</td>
                        <td class="grey-2 pt-3"><i class="fa-solid fa-play hover"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>