{% load static %}
<div class="container p-0 m-0">
    <figure class="figure-card bg-black rounded-4">
        <img loading="lazy" src="{% static 'landscape_cover.png' %}" alt="" class="img-fluid fadeIn rounded-4">
        <!--<img loading="lazy" src="{{ latest_mix.get_landscape_thumbnail }}" alt="" class="img-fluid fadeIn rounded-4">-->
        <figcaption>
            <h2 class="text-white fadeInUp">DJ G400 Mixes</h2>
        </figcaption>
    </figure>
    <div class="row my-2 p-0 m-0">
        <div class="d-flex my-3 justify-content-between">
            <h4 class="grey-1">Popular mixes</h4>
            <a href="" class="p-0 nav-link hover">See all</a>
        </div>
    </div>
    <div class="container-fluid-scroll">
        <div class="scrolling-wrapper flex-row  gap-3">
            {% for album in albums %}
            <a href="{{ album.get_url }}" class="popular-mix-div" style="background-image: url('{{ album.image }}');">
                <div class="overlay"></div>
                <p class="hover-underline text-white">{{ album.name }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row my-2 p-0 m-0">
        <div class="d-flex my-3 justify-content-between">
            <h4 class="grey-1">Recently uploaded audio mixes</h4>
            <a href="" class="p-0 nav-link hover">See all</a>
        </div>
    </div>
    <div class="row my-2 p-0 m-0">
        <div class="p-3 rounded-4 bg-gradientToDown" id="mixes-list">
            {% include 'components/search.html' %}
            <table class="table mt-2">
                <tbody style="border-color: #2D2D2D;">
                    <tr>
                        <td class="grey-3">Mix</td>
                        <td class="grey-3 pt-3">Genre</td>
                        <td class="grey-3 pt-3">Plays</td>
                    </tr>
                    {% for mix in mixes %}
                    {% include 'components/mixes_table.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
