{% load static %}
<div class="p-4 rounded-4 bg-grey">
    <h3 class="grey-1">Now playing</h3>
    <img src="{{ latest_mix.get_square_cover }}" alt="" class="img-fluid my-3 fadeIn rounded-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="mt-2">
            <a href="{{ latest_mix.get_url }}" class="grey-1 h5 no-link hover-underline">{{ latest_mix.album.name }}</a> <br>
            <small class="grey-2">Vol {{ latest_mix.episode_number }} | {{ latest_mix.get_year }}</small>
        </div>
        <div>
            <i class="fa-solid fa-circle-pause text-primary grey-3 fa-2xl"></i>
        </div>
    </div>
    <hr class="grey-2">
    <div class="row mx-auto">
        {% for mix in mixes %}
        <div class="d-flex justify-content-between align-items-center flex-row px-0 mb-3">
            <div class="d-flex flex-row">
                <img class="recently-uploaded-cover" src="{{ mix.get_square_cover }}" alt="">
                <div class="d-flex flex-column">
                    <a href="{{ mix.get_url }}" style="font-size: .9rem;" class="hover-underline ms-3">{{ mix.album.name }}</a> <br>
                    <span style="font-size: .7rem;" class="ms-3 grey-2">Vol {{ mix.episode_number }}</span>
                </div>
            </div>
            <div style="font-size: .8rem;" class="grey-2">{{ mix.genre.name }}</div>
        </div>
        <hr class="grey-2">
        {% endfor %}
    </div>
</div>