<div class="bg-grey rounded-4 p-4">
    <h5 class="grey-3 mb-3">Library</h5>
    <ol class="list-unstyled">
        <li class="nav-link hover p-0">Browse</li>
        <li class="nav-link hover p-0">Mixes</li>
        <li class="nav-link hover p-0">Albums</li>
        <li class="nav-link hover p-0">Genre</li>
        <li class="nav-link hover p-0">Audio</li>
        <li class="nav-link hover p-0">Video</li>
    </ol>
    <hr class="grey-2">
    <h5 class="my-3 grey-3">My music</h5>
    <ol class="list-unstyled">
        <li class="nav-link hover p-0">Recently played</li>
        <li class="nav-link hover p-0">Favorite mixes</li>
        <li class="nav-link hover p-0">Liked</li>
        <li class="nav-link hover p-0">Genre</li>
    </ol>
</div>