{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load hitcount_tags %}
<div class="container-fluid p-4" style="background-color: '{{ mix.color }}';">
<button onclick="goBack()" class="no-btn text-white mt-4"><i class="fa-solid fa-xl fa-arrow-left"></i></button>
  <div class="row justify-content-evenly g-3 rounded-4">
    <div class="col-sm-12 col-lg-8 px-0 p-lg-2">
      <!-- if youtube video, show youtube video only -->
      {% if mix.youtube_link %}
      <div class="youtube-video-container">{{ mix.youtube_link|safe }}</div>
      <!-- if video snippet and theres a link, show them both -->
      {% elif mix.video and mix.stream_link %}
      <video class="img-fluid rounded-4" controls>
        <source src="{{ mix.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <audio src="{{ mix.stream_link }}" controls class="w-100 mt-3">
        <source type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      <!-- if snippet and no audio link, show the snippet only -->
      {% elif mix.stream_link %}
      <img src="{{ mix.get_landscape_cover }}" alt="" class="img-fluid rounded-4 mb-3">
      <audio src="{{ mix.stream_link }}" controls class="w-100">
        <source type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      {% else %}
      <img src="{{ mix.get_landscape_cover }}" alt="" class="img-fluid rounded-4">
      <div class="badge bg-primary text-dark">Link coming soon</div>
      {% endif %}
      <h2 class="text-white mt-3">{{ mix.get_title }}</h2>
      {% include 'components/mix_stats.html' %}
      {% include 'components/mix_info.html' %}
      {% include 'components/mix_products.html' %}
    </div>

    <div class="col-sm-12 col-lg-4 mt-4 px-0 px-lg-2">
      <div class="bg-gradientToDown p-3 rounded-4">
        <div class="d-flex flex-row flex-wrap gap-2">
          <a href="#!" class="badge rounded-1 bg-light text-dark">All</a>
          <a href="#!" class="badge grey-2 rounded-1 bg-grey">From the series</a>
          <a href="#!" class="badge grey-2 rounded-1 bg-grey">{{ mix.genre.name }}</a>
          <a href="#!" class="badge grey-2 rounded-1 bg-grey">Related</a>
          <a href="#!" class="badge grey-2 rounded-1 bg-grey">For you</a>
        </div>
        {% for mix in mix.get_similar_mixes %}
        <div class="d-flex flex-row align-items-center mt-3 gap-3">
          <img src="{{ mix.get_landscape_thumbnail }}" style="width: 50%; height: auto; object-fit: cover" class="img-fluid rounded-4">
          <div>
            <a href="{{ mix.get_url }}" class="grey-1 no-btn hover-underline">{{ mix.get_title }}</a> <br>
            <small class="grey-2 m-0">{{ mix.genre.name }}</small> <br>
            <div class="d-flex flex-row justify-content-between">
              <small style="font-size: .7rem;" class="grey-2 m-0">{% get_hit_count for mix %} Views</small>
              <small style="font-size: .7rem;" class="grey-2 m-0">{{ mix.get_year }}</small> <br>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include "modals/share.html" %}
<script src="{% static 'js/mixUtils.js' %}"></script>
{% endblock %}
