{% load static %}
<div class="container p-0 m-0">
    <div class="row my-2 p-0 m-0">
        <div class="d-flex my-3 justify-content-between">
            <h4 class="grey-1">Pick genre</h4>
            <a href="" class="p-0 nav-link hover">See all</a>
        </div>
    </div>
    <ul class="row row-cols-auto g-3 list-unstyled">
        <li class="col">
            <div class="genre-card">Hip Hop</div>
        </li>
        <li class="col">
            <div class="genre-card">RnB</div>
        </li>
        <li class="col">
            <div class="genre-card">Pop</div>
        </li>
        <li class="col">
            <div class="genre-card">Kenyan</div>
        </li>
        <li class="col">
            <div class="genre-card">Afrobeats</div>
        </li>

        <li class="col">
            <div class="genre-card">Dancehall</div>
        </li>
    </ul>
</div>