{% extends 'base.html' %}
{% block body %}
{% load static %}
<main class="container-fluid pt-4 px-0">
    <div class="px-4">
        <div class="row gx-3">
            <div class="col-sm-12 col-lg-2">
                <div class="position-sticky" style="top: 3.8rem;">
                    {% include "mixes_sidebar.html" %}
                </div>
            </div>
            <div class="col-sm-12 col-lg-10">
                <div class="container mt-4 px-0">
                    <div class="row">
                        <div class="col-sm-12 col-lg-8">
                            <h1 class="display-4 fw-bold text-white">Mixes</h1>
                            <p class="text-grey-4 mb-0">Exclusive DJ sets and fresh mixes curated by DJ G400. Experience high quality mixes, seamless transitions between track and creative visuals.</p>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="genre-filter" style="margin-bottom: -1rem; padding-right: 2rem; padding-left: 1rem">
                            <button class="scroll-btn left-btn" aria-label="Scroll Left">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <div class="genres-container px-3">
                                <a href="/mixes/" class="no-link">
                                    <div class="genre-item rounded-4 {% if not active_genre %}active{% endif %}">
                                        All
                                    </div>
                                </a>
                                {% for genre in genres %}
                                <a href="{{ genre.get_url }}" class="no-link">
                                    <div class="genre-item rounded-4 {% if genre.slug == active_genre %}active{% endif %}">
                                        {{ genre.name }}
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <button class="scroll-btn right-btn" aria-label="Scroll Right">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                        {% if num_results.mixes > 0 %}
                            <h3 class="grey-1">Found {{ num_results.mixes }} mixes in "{{ query }}"</h3>
                            {% for mix in results.mixes %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if num_results.events > 0  %}
                            <hr class="grey-3 mb-0">
                            {% if num_results.events == 1  %}
                            <h3 class="grey-1">Found {{ num_results.events }} event in "{{ query }}"</h3>
                            {% else %}
                            <h3 class="grey-1">Found {{ num_results.events }} events in "{{ query }}"</h3>
                            {% endif %}
                            {% for event in results.events %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/event.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if num_results.products > 0  %}
                            <hr class="grey-3 mb-0">
                            {% if num_results.products == 1  %}
                            <h3 class="grey-1">Found {{ num_results.products }} product in "{{ query }}"</h3>
                            {% else %}
                            <h3 class="grey-1">Found {{ num_results.products }} products in "{{ query }}"</h3>
                            {% endif %}
                            {% for product in results.products %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/product.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if num_results.blogs > 0  %}
                            <hr class="grey-3 mb-0">
                            {% if num_results.blogs == 1  %}
                            <h3 class="grey-1">Found {{ num_results.blogs }} blog in "{{ query }}"</h3>
                            {% else %}
                            <h3 class="grey-1">Found {{ num_results.blogs }} blogs in "{{ query }}"</h3>
                            {% endif %}
                            {% for blog in results.blogs %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/blog_portrait_card.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if num_results.remixes > 0  %}
                            <hr class="grey-3 mb-0">
                            {% if num_results.remixes == 1  %}
                            <h3 class="grey-1">Found {{ num_results.remixes }} remix in "{{ query }}"</h3>
                            {% else %}
                            <h3 class="grey-1">Found {{ num_results.remixes }} remixes in "{{ query }}"</h3>
                            {% endif %}
                            {% for remix in results.remixes %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/remix_card.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if num_results.playlists > 0  %}
                            <hr class="grey-3 mb-0">
                            {% if num_results.playlists == 1  %}
                            <h3 class="grey-1">Found {{ num_results.playlists }} playlist in "{{ query }}"</h3>
                            {% else %}
                            <h3 class="grey-1">Found {{ num_results.playlists }} playlists in "{{ query }}"</h3>
                            {% endif %}
                            {% for playlist in results.playlists %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/playlist.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if num_results.mixes == 0 and not random_mixes %}
                            <h3 class="grey-1">I've got nothing on "{{ query }}"</h3>
                            {% for mix in random_mixes %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if mixes %}
                            {% for mix in mixes %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% empty %}
                            <h3 class="grey-1">No mixes</h3>
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% endfor %}
                            <div class="col-12 mt-5">
                                <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                                    <h6 class="grey-2 my-0">Page</h6>
                                    {% for num_page in mixes.paginator.page_range %}
                                    <a class="btn btn-sm rounded-4 {% if num_page == mixes.number %}btn-light{% else %}btn-outline-light{% endif %}" href="?page={{ num_page }}">{{ num_page }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-0 py-5 mt-5" style="background-color: #141414;">
        {% include "components/newsletter_banner.html" %}
    </div>
</main>
<script src="{% static 'js/genreFilter.js' %}"></script>
{% endblock %}