{% extends 'base.html' %}
{% block body %}
{% load static %}
<main class="container-fluid pt-4 px-0">
    <div class="px-4">
        <div class="row gx-3">
            <div class="col-sm-12 col-lg-2">
                <div class="position-sticky" style="top: 3.8rem;">
                    {% include "mixes_sidebar.html" %}
                </div>
            </div>
            <div class="col-sm-12 col-lg-10">
                <div class="container mt-4 px-0">
                    <div class="row gy-4">
                        <div class="genre-filter" style="margin-bottom: -1rem;">
                            <button class="scroll-btn left-btn" aria-label="Scroll Left">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <div class="genres-container px-3">
                                <a href="/mixes/" class="no-link">
                                    <div class="genre-item rounded-4 {% if not active_genre %}active{% endif %}">
                                        All
                                    </div>
                                </a>
                                {% for genre in genres %}
                                <a href="{{ genre.get_url }}" class="no-link">
                                    <div class="genre-item rounded-4 {% if genre.slug == active_genre %}active{% endif %}">
                                        {{ genre.name }}
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <button class="scroll-btn right-btn" aria-label="Scroll Right">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                        {% if num_results > 0 %}
                            <h3 class="grey-1">Found {{ num_results }} items in "{{ query }}"</h3>
                            {% for mix in results %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% endfor %}
                        {% elif num_results == 0 %}
                            <h3 class="grey-1">I've got nothing on "{{ query }}"</h3>
                            {% for mix in random_mixes %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% endfor %}
                        {% else %}
                            {% for mix in mixes %}
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% empty %}
                            <h3 class="grey-1">No mixes</h3>
                            <article class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
                                {% include "components/mix_portrait_card.html" %}
                            </article>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-0 py-5 mt-5" style="background-color: #141414;">
        {% include "components/newsletter_banner.html" %}
    </div>
</main>
<script src="{% static 'js/genreFilter.js' %}"></script>
{% endblock %}
