{% load static %}
<div class="d-flex flex-column">
    <ul class="nav nav-pills flex-column mt-4">
        <li class="nav-item">
            <a href="{% url 'mix_list' %}" class="nav-link {% if '/mixes/' in request.path %}active{% endif %}"><i class="fa-solid fa-play me-2"></i> Mixes</a>
        </li>
        <li>
            <a href="{% url 'playlists' %}" class="nav-link {% if '/playlists/' in request.path %}active{% endif %}"><i class="fa-solid fa-music me-2"></i> Playlists</a>
        </li>
        <li>
            <a href="{% url 'remixes_list' %}" class="nav-link {% if '/remixes/' in request.path %}active{% endif %}"><i class="fa-solid fa-record-vinyl me-2"></i> Remixes</a>
        </li>
    </ul>
    <hr>
    <form method="GET" action="{% url 'search' %}" onsubmit="showSpinner()" class="input-group border-color bg-grey rounded-2">
        <input required placeholder="Search mixes..." type="text" class="form-control bg-grey border-0" name="q" value="{{ query }}">
        <button id="submit-btn" class="no-btn" value="Search" type="submit" aria-describedby="search">
            <span id="submit-text"><i class="fa-solid fa-magnifying-glass"></i></span>
            <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        </button>
    </form>
</div>
