{% extends 'base.html' %}
{% block body %}
{% load hitcount_tags %}
{% load custom_filters %}
{% load static %}
<div class="container-fluid p-4">
    <div class="row gy-4 align-items-start jutify-content-evenly">
        <div class="col-sm-12 col-lg-2 d-none d-lg-block">
        {% include 'components/sidebar.html' %}
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="container p-0 m-0">
                <div class="row p-0 m-0">
                    <form method="GET" action="{% url 'search_mixes' %}" class="col-sm-12 col-lg-8 mt-4" onsubmit="showSpinner()">
                        <div class="input-group">
                            <input required placeholder="Search for mixes, albums, artists..." type="text" class="form-control form-control-lg rounded-start rounded-start-4" name="q" value="{{ query }}">
                            <button class="btn btn-primary rounded-end-4" id="search-addon" value="Search" type="submit" aria-describedby="search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% if num_results > 0 %}
            <div class="container p-0 m-0">
                <div class="row p-0 m-0">
                    <div class="p-3 rounded-4 bg-gradientToDown">
                        <h6 class="grey-1 mb-3">Found {{ num_results }} items in "{{ query }}"</h6>
                        {% for mix in results %}
                        <a href="{{ mix.get_url }}" class="no-link">
                            <div class="d-flex flex-row align-items-start gap-3 mb-3">
                                <img src="{{ mix.get_landscape_thumbnail }}" style="width: 50%; height: auto; object-fit: cover" class="img-fluid rounded-4">
                                <div>
                                    <h6 class="grey-1 hover-underline mb-0">{{ mix.get_title }}</h6>
                                    <small style="font-size: .8rem;" class="grey-2">{% get_hit_count for mix %} views &#xb7; {{ mix.release_date|round_timesince }} ago</small> 
                                    <p class="grey-2 small my-2">Genre: {{ mix.genre.name }}</p>
                                    <small style="font-size: .7rem;" class="grey-2">{{ mix.album.description|truncatewords:8 }}</small> <br>
                                    {% if mix.youtube_link %}
                                    <p class="badge grey-2 rounded-1 text-dark bg-light mt-2">Video</p>
                                    {% elif mix.stream_link %}
                                    <p class="badge grey-2 rounded-1 text-dark bg-light mt-2">Audio</p>
                                    {% else %}
                                    <p class="badge grey-2 rounded-1 text-dark bg-light mt-2">Link coming soon</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container p-0 m-0">
                <div class="row p-0 m-0">
                    <div class="p-3 rounded-4 bg-gradientToDown">
                        <h2 class="grey-1 mb-3">I've got nothing on <span class="text-primary">"{{ query }}"</span></h2>
                        <div class="col-sm-12 col-lg-6 my-3">
                            <img src="{% static 'undraw_questions_re_1fy7.svg' %}" alt="" class="img-fluid pb-3">
                        </div>
                        {% for mix in random_mixes %}
                        <a href="{{ mix.get_url }}" class="no-link">
                            <div class="d-flex flex-row align-items-start gap-3 mb-3">
                                <img src="{{ mix.get_landscape_thumbnail }}" style="width: 50%; height: auto; object-fit: cover" class="img-fluid rounded-4">
                                <div>
                                    <h6 class="grey-1 hover-underline mb-0">{{ mix.get_title }}</h6>
                                    <small style="font-size: .8rem;" class="grey-2">{% get_hit_count for mix %} views &#xb7; {{ mix.release_date|round_timesince }} ago</small> 
                                    <p class="grey-2 small my-2">Genre: {{ mix.genre.name }}</p>
                                    <small style="font-size: .7rem;" class="grey-2">{{ mix.album.description|truncatewords:8 }}</small> <br>
                                    {% if mix.youtube_link %}
                                    <p class="badge grey-2 rounded-1 text-dark bg-light mt-2">Video</p>
                                    {% elif mix.stream_link %}
                                    <p class="badge grey-2 rounded-1 text-dark bg-light mt-2">Audio</p>
                                    {% else %}
                                    <p class="badge grey-2 rounded-1 text-dark bg-light mt-2">Link coming soon</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
