{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container my-5">
    <div class="row align-items-start justify-content-evenly">
        <div class="col-sm-12 col-lg-7">
            <a href="{% url 'shop' %}" class="back-btn text-white position-absolute"><i class="fa-solid fa-xl fa-circle-arrow-left"></i></a>
            <img class="mb-3 bg-grey rounded-4 p-2 w-100" src="{{ product.img_lg.url }}" loading="lazy"/>
            <div class="d-flex flex-row flex-wrap gap-2">
                <div class="bg-grey rounded-4 p-2">
                    <img src="{{ product.img_small.url }}" alt="{{ product.name }}'s Images" class="img-fluid rounded-4" style="height: 50px; width: 50px; object-fit: cover;">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-5">
            <div class="d-flex flex-column">
                <h1 class="grey-1">{{ product.name }} - {{ product.category.name }}</h1>
                <h3 class="grey-1 mb-3">Ksh {{ product.price }}</h3>
                <small class="grey-2 mb-1">Available colors:</small>
                <ul class="d-flex flex-row flex-wrap gap-2 ms-0 px-0">
                    {% for color in colors %}
                    <li class="btn btn-outline-light btn-sm rounded-pill px-3">{{ color }}</li>
                    {% endfor %}
                </ul>
                <small class="grey-2 mb-1">Available sizes:</small>
                <ul class="d-flex flex-row flex-wrap ms-0 gap-2 px-0">
                    {% for size in sizes %}
                    <li class="btn btn-outline-light btn-sm rounded-pill px-3">{{ size }}</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'cart' product.slug %}" class="btn my-3 btn-primary w-100 btn-lg rounded-5">Buy Now</a>
                <button class="btn btn-outline-primary w-100 btn-lg rounded-5" id="add-to-cart-btn">Add To Cart</button>
                <h3 class="grey-1 mt-4">Description</h3>
                <p class="grey-2">{{ product.description }}</p>
            </div>
        </div>
    </div>
    <h3 class="grey-2 mt-5">You may also like</h3>
    <div class="row mt-4 align-items-start justify-content-start g-3">
        <div class="col-sm-6 col-lg-3">
            <img src="{{ product.img_small.url }}" alt="" class="img-fluid bg-grey rounded-4 p-3">
            <h6 class="grey-1 mt-3">{{ product.name }}</h6>
            <p class="grey-2">{{ product.category }}</p>
            <h6 class="grey-1">Ksh {{ product.price }}</h6>
        </div>
    </div>
</div>
{% endblock %}
