{% extends 'base.html' %}
{% block body %}
<div class="container px-4 px-lg-0 py-5">
    <!-- start of navigation -->
    <header class="row justify-content-start">
        <div class="col-sm-12 col-lg-6">
            <div class="d-flex my-4 flex-row align-items-center justify-content-between flex-wrap">
                <button onclick="goBack()" class="no-btn"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></button>
                <div class="col text-center align-items-center d-flex flex-row justify-content-center">
                    <span class="rounded-circle grey-4 p-2 fw-500 bg-white badge me-2">01</span>
                    <span class="grey-1 fw-600">Cart</span>
                    <span class="grey-1 fw-600 ms-3"></span>
                </div>
                <div class="col text-center align-items-center d-flex flex-row justify-content-center">
                    <span class="rounded-pill p-2 fw-400 grey-3 badge me-2 border-color">02</span>
                    <span class="grey-3 fw-400">Checkout</span>
                    <span class="grey-3 fw-400 ms-3"></span>
                </div>
                <div class="col text-center align-items-center d-flex flex-row justify-content-center">
                    <span class="rounded-pill p-2 fw-400 grey-3 badge me-2 border-color">03</span>
                    <span class="grey-3 fw-400">Payment</span>
                </div>
            </div>
        </div>
    </header>
    <!-- end of navigation -->
    <section class="row gy-4 justify-content-between">
        <!-- start of contact and delivery details -->
        <div class="col-sm-12 col-lg-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h6 class="grey-2 fw-500">ITEM</h6></th>
                        <th scope="col"><h6 class="grey-2 fw-500">QUANTITY</h6></th>
                        <th scope="col"><h6 class="grey-2 fw-500">PRICE</h6></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex flex-row flex-wrap gap-3 justify-content-start">
                                <img style="height: 150px; width: 150px; object-fit: cover" class="rounded-3 img-fluid" src="{{ product.img_sm.url }}" alt="{{ product.name }}'s Image"/>
                                <div class="d-flex flex-column">
                                    <h5 class="fw-600 text-white">{{ product.name }}</h5>
                                    <h6 class="fw-600 grey-1">{{ product.product_category.name }}</h6>
                                </div>
                            </div>
                        </td>
                        <td class="grey-1">1</td>
                        <td><h5 class="fw-600 text-white">Ksh {{ product.price }}</h5></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="position-sticky" style="top: 5rem;">
                <div class="rounded-4 border-color p-3">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <span class="small grey-2">Subtotal</span>
                        <span class="small grey-1">Ksh {{ product.price }}</span>
                    </div>
                    <div class="d-flex mb-3 mt-1 flex-row align-items-center justify-content-between">
                        <span class="small grey-2">Discount</span>
                        <span class="small grey-1">Ksh 0</span>
                    </div>
                    <div style="border-bottom: 2px dashed #ababab; width: 100%;"></div>
                    <div class="d-flex justify-content-between mt-3">
                        <h4 class="grey-1">Grand total</h4>
                        <h4 class="fw-bold text-white">Ksh {{ product.price }}</h4>
                    </div>
                    <a class="btn btn-primary rounded-4 w-100 btn-lg mt-4" href="{% url 'checkout' slug=product.slug %}">Checkout Now <i style="font-size: 1rem;" class="ms-2 fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}