{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container p-4">
    {% if success %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col md-8 col-lg-6">
            <div class="bg-grey text-center rounded-4 p-5">
                <div class="display-4"><i class="fa-solid fa-circle-check text-success"></i></div>
                <h3 class="grey-1 my-3 display-6">You are now 400 miles above the rest!</h3>
                <p class="grey-2">Thank you for subscribing to my newsletter. You’ll now receive the latest updates on new mixes, playlists, exclusive art, merchandise drops, and all the exciting news from the DJ G400 straight to your inbox.</p>
                <a href="{% url 'index' %}" class="btn btn-primary px-5 btn-lg mt-3 w-100 rounded-pill">Done</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row align-items-center justify-content-center mt-5">
        <div class="col-sm-12 col-md-10 col-lg-6">
            <h1 class="display-6 text-white">DJ G400's Newsletter</h1>
            <p class="grey-2 my-3">Join my newsletter to stay updated on the latest mixes, playlists, exclusive art, merchandise drops, and more!</p>
            <form action="{% url 'newsletter' %}" method="POST" onsubmit="showSpinner()">
                {% csrf_token %}
                <div class="form-floating">
                    <input type="email" class="form-control rounded-4" name="email" id="id_email" placeholder="Email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mt-3 w-100">
                    {{ newsletter_form.captcha }}
                    {% if newsletter_form.captcha.errors %}
                    <div class="text-danger">{{ newsletter_form.captcha.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn submit-btn btn-outline-primary btn-lg my-4 w-100">Submit</button>
            </form>
            <small class="grey-3">By subscribing, you agree to receive email notifications about new mixes, playlists, exclusive art, merchandise drops, and other updates. We respect your privacy and will never share your information with third parties. You can unsubscribe at any time.</small>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
