{% load static %}
<div class="d-flex mb-3 flex-row flex-wrap gap-3 align-items-center justify-content-between">
    <div class="d-flex flex-row gap-3 align-items-center flex-wrap">
        <img src="{% static 'img/djg400-blog-thumbnail.jpg' %}" style="height: 40px; width: 40px; border-radius: 50px; object-fit: cover" alt="DJ G400's image">
        <p class="mb-0 grey-2">DJ G400</p>
        {% if not request.user.is_authenticated %}
        <button role="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-outline-dark rounded-2 px-3">Join</button>
        {% endif %}
        <button role="button" data-bs-toggle="modal" data-bs-target="#supportMixModal" class="btn btn-primary rounded-2 px-3">
            Support <i class="ms-1 fa-solid fa-hand-holding-dollar"></i>
        </button>
        {% if mix.download_link %}
        <div class="link">
            <a href="{% url 'download_mix' mix.slug %}" class="hover-underline text-grey-1">
                Download <i class="text-grey-2 ms-1 fa-solid fa-download"></i>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="d-flex flex-row gap-3 align-items-center">
        {% if not request.user.is_authenticated %}
        <button role="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="no-btn hover-primary text-grey-3">
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="like-text">Like</span>
        </button>
        {% elif mix in user.customer.liked_mixes.all %}
        <div data-id="{{ mix.id }}" data-type="mix" class="text-primary-4 hover-like hover-primary like-btn">
            <i class="fa-solid fa-thumbs-up like-icon"></i>
            <span class="like-text">Liked</span>
        </div>
        {% else %}
        <div data-id="{{ mix.id }}" data-type="mix" class="text-grey-4 hover-like hover-primary like-btn">
            <i class="fa-solid fa-thumbs-up like-icon"></i>
            <span class="like-text">Like</span>
        </div>
        {% endif %}
        <div class="dropdown hover-primary text-grey-3">
            <button class="no-btn dropdown-toggle" id="dropdownMixMenu" data-bs-toggle="dropdown" aria-expanded="false">Share</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMixMenu">
                <li>
                    <button class="no-btn dropdown-item" data-bs-toggle="modal" data-bs-target="#share"> 
                        <div class="d-flex flex-row align-items-center justify-content-start gap-3">
                            <div class="col-2 text-center"><i class="fa-solid fa-link"></i></div>
                            <div class="col-8"><span class="text-start">Link</span></div>
                        </div>
                    </button>
                </li>
                <li>
                    <a class="dropdown-item" href="https://twitter.com/intent/tweet?url={{ mix.get_share_link }}&text=Listen to '{{ mix.get_title }}' on DJ G400's Website"> 
                        <div class="d-flex flex-row align-items-center justify-content-start gap-3">
                            <div class="col-2 text-center"><i class="fa-brands fa-twitter"></i></div>
                            <div class="col-8"><span class="text-start">Twitter</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u={{ mix.get_share_link }}"> 
                        <div class="d-flex flex-row align-items-center justify-content-start gap-3">
                            <div class="col-2 text-center"><i class="fa-brands fa-facebook-f"></i></div>
                            <div class="col-8"><span class="text-start">Facebook</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://wa.me/?text={{ mix.get_share_link }}" target="_blank"> 
                        <div class="d-flex flex-row align-items-center justify-content-start gap-3">
                            <div class="col-2 text-center"><i class="fa-brands fa-whatsapp"></i></div>
                            <div class="col-8"><span class="text-start">Whatsapp</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://t.me/share/url?url={{ mix.get_share_link }}&text={{ mix.title }} - DJ G400" target="_blank">
                        <div class="d-flex flex-row align-items-center justify-content-start gap-3">
                            <div class="col-2 text-center"><i class="fa-solid fa-paper-plane"></i></div>
                            <div class="col-8"><span class="text-start">Telegram</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://www.threads.net/share?url={{ mix.get_share_link }}" target="_blank">
                        <div class="d-flex flex-row align-items-center justify-content-start gap-3">
                            <div class="col-2 text-center"><i class="fa-brands fa-threads"></i></div>
                            <div class="col-8"><span class="text-start">Threads</span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
