{% load hitcount_tags %}
{% load custom_filters %}
<a href="{{ mix.get_url}}" class="no-btn">
    <div class="row g-3 row-cols-2 align-items-center">
        <div class="col-sm-6 col-md-12">
            <div style="position: relative; width: 100%; padding-top: 56.25%; overflow: hidden; border-radius: 0.5rem;">
                <img class="rounded-2 border-color" src="{{ mix.get_landscape_thumbnail }}" alt="{{ mix.get_title }}'s thumbnail" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
            </div>
        </div>
        <div class="col-sm-6 col-md-12">
            <div class="d-flex flex-column justify-content-between">
                <div class="d-flex flex-row"></div>
                <h6 class="text-white hover-underline grey-1">{{ mix.get_title }}</h6>
                <div class="d-flex flex-column">
                    <small class="small grey-3 hover-underline">{{ mix.genre.name }}</small>
                    <div class="d-flex flex-row gap-1 align-items-center hover-underline grey-3">
                        <small class="small">{{ mix.release_date|round_timesince }} ago</small>
                        <small class="small">&#183; {{ mix.get_hit_count }} views</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

