<form 
    class="input-group m-0 p-0"
    role="form" 
    method="GET">
    <button
        type="submit"
        id="search-addon"
        value="Search"
        class="no-btn"
        name="search-box">
    </button>
    <input
        name="q"
        type="search"
        id="searchMixes"
        class="form-control rounded-start"
        style="background-color: #000;"
        placeholder="Search..."
        aria-label="Search"
        aria-describedby="search-addon"
        required/>
</form>