{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "head.html" %}
    </head>
    <body style="background-color: #000; color: #fff" class="text-white">
        {% include "navbar.html" %}
        <div style="padding-top: 4rem;">
            {% include "messages.html" %}
            {% block body %} {% endblock %}
        </div>
        {% include "footer.html" %}
        {% include "modals/login.html" %}
        {% include "modals/loading_spinner.html" %}
        {% include "modals/search.html" %}
        <script src="{% static 'js/footerYear.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
