{% load static %}
<div class="container-fluid bg-gradientToDown">
    <div class="container pt-5">
        <footer class="py-5">
            <div class="row g-3">
                <div class="col-6 col-md-2">
                    <img src="{% static 'logo/logo.svg' %}" style="height: 120px;" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">DJ G400</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'index' %}" class="nav-link p-0">Home</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'about' %}" class="nav-link p-0">About</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'about' %}#contact" class="nav-link p-0">Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">Music</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'mix_list' %}" class="nav-link p-0">Mixes</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'playlists' %}" class="nav-link p-0">Playlists</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'remixes_list' %}" class="nav-link p-0">Remixes</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">Shop</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'shop' %}#remixes" class="nav-link p-0">Remixes</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'shop' %}#clothing" class="nav-link p-0">Clothing</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'shop' %}#wallpapers" class="nav-link p-0">Wallpapers</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">Other</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'event_list' %}" class="nav-link p-0">Events</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'subscribe_newsletter' %}" class="nav-link p-0">Newsletter</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">Blogs</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'blog_list' %}" class="nav-link p-0">Blogs</a></li>
                    </ul>
                </div>
            </div>
            <hr class="grey-2 mt-5">
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
                <p id="footer-year"></p>
                <ul class="list-unstyled d-flex">
                    <li class="grey-2">Follow DJ G400</li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://x.com/djg400/"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://www.youtube.com/channel/UC9HP_DqruMAplsz0-ynveaQ"><i class="fa-brands fa-youtube"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://instagram.com/djg400/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://podcasts.apple.com/ke/podcast/dj-g400-mixes/id1645709049" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
