{% load static %}
<div class="container-fluid bg-gradientToDown">
    <div class="container pt-5">
        <footer class="py-5">
            <div class="row g-3">
                <div class="col-6 col-md-2">
                    <img src="{% static 'logo/logo.svg' %}" style="height: 120px;" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">DJ G400</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'index' %}" class="nav-link p-0">Home</a></li>
                        <li class="nav-item mb-2"><a href="" class="nav-link p-0">About</a></li>
                        <li class="nav-item mb-2"><a href="" class="nav-link p-0">Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">Mixes</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'mix_list' %}" class="nav-link p-0">Audio</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'video_mix_list' %}" class="nav-link p-0">Video</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'mix_list' %}" class="nav-link p-0">Latest</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="grey-1">Shop</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'shop' %}" class="nav-link p-0">Merchandise</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <form action="{% url 'newsletter' %}" method="POST" onsubmit="showSpinner()">
                        {% csrf_token %}
                        <h5 class="grey-1">Newsletter</h5>
                        <p class="grey-2">Subscribe to get monthly digest of what's new and exciting from DJ G400</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="email" class="visually-hidden">Email address</label>
                            <input required class="form-control me-2 border-0" name="email" id="email" type="email" placeholder="Email address" data-sb-validations="required,email" />
                            <button class="btn btn-outline-light submit-btn" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="grey-2 mt-5">
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
                <p id="footer-year"></p>
                <ul class="list-unstyled d-flex">
                    <li class="grey-2">Follow DJ G400</li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://x.com/djg400/"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://www.youtube.com/channel/UC9HP_DqruMAplsz0-ynveaQ"><i class="fa-brands fa-youtube"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://instagram.com/djg400/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis grey-2" href="https://podcasts.apple.com/ke/podcast/dj-g400-mixes/id1645709049" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
