{% extends 'base.html' %}
{% block body %}
<div class="container-fluid px-0">
    {% include "hero.html" %}
    <section class="container px-4 my-5">
        <div class="d-flex flex-row justify-content-center">
            <div class="col-sm-12 col-lg-9">
                <h1 class="text-center text-white">Beyond the Sound, Into the Experience</h1>
                <p class="grey-2 text-center">Discover the best in DJ mixes, shop exclusive apparel, and dive into curated playlists to elevate your music experience.</p>
            </div>
        </div>
        <div class="row g-4 mb-5 justify-content-center py-5">
            <div class="col-sm-12 col-md-4">
                <div class="bg-grey rounded-5 p-4">
                    <a href="{% url 'mix_list' %}" class="no-link">
                        <div class="mt-2 mb-5 d-flex flex-row align-items-center justify-content-between fs-2">
                            <i class="fa-solid grey-1 fa-music fa-xl"></i>
                            <span class="grey-1">&#8599;</span>
                        </div>
                        <h5 class="grey-1 mt-5">Mixes</h5>
                        <p class="grey-2 fw-300">Exclusive DJ sets and fresh mixes bringing energy to you.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="bg-grey rounded-5 p-4">
                    <a href="{% url 'shop' %}" class="no-link">
                        <div class="mt-2 mb-5 d-flex flex-row align-items-center justify-content-between fs-2">
                            <i class="fa-brands grey-1 fa-shopify fa-xl"></i>
                            <span class="grey-1">&#8599;</span>
                        </div>
                        <h5 class="grey-1 mt-5">Shop</h5>
                        <p class="grey-2 fw-300">From merch, digital downloads, artworks, wallpapers, and more.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="bg-grey rounded-5 p-4">
                    <a href="{% url 'playlists' %}" class="no-link">
                        <div class="mt-2 mb-5 d-flex flex-row align-items-center justify-content-between fs-2">
                            <i class="fa-brands grey-1 fa-spotify fa-xl"></i>
                            <span class="grey-1">&#8599;</span>
                        </div>
                        <h5 class="grey-1 mt-5">Playlists</h5>
                        <p class="grey-2 fw-300">Vibe to handpicked collections, perfect for every moment and mood.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="px-0 py-5" style="background-color: #141414; margin-bottom: 7rem">
        <div class="container px-4 py-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-10 text-center">
                    <h1 class="text-white">Stay in the Mix with DJ G400</h1>
                    <p class="grey-1 mb-0">Get exclusive access to the latest drops, playlists, event updates, and behind-the-scenes content!</p>
                    <p class="grey-1">Sign up for the newsletter and never miss a beat.</p>
                    <a href="{% url 'newsletter' %}" class="btn btn-outline-light px-4 rounded-pill">Subscribe Now</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
