{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include 'hero.html' %}
<div class="container-fluid">

    <div class="container my-5">
        <section class="row gy-5 featurette justify-content-evenly align-items-center">
            <div class="col-md-5 col-sm-12 order-md-2 fadeIn">
                <h2 class="display-6 fw-bold grey-1">Dazzling Outfits</h2>
                <p class="lead grey-2 my-4">Shop the latest collection of urban, modern, and fresh merchandise inspired by Arap Trap's unique style.</p>
                <a class="btn btn-outline-light rounded-pill btn-lg py-2 px-5" href="{% url 'shop' %}">Shop now</a>
            </div>
            <div class="col-md-5 col-sm-12 order-md-1">
                <img style="max-height: 80vh; width: 100%; object-fit: cover" src="{% static 'img/homepage/merchandise_homepage.png' %}" alt="" class="img-fluid fadeIn">
            </div>
        </section>
    </div>

    <div class="container my-5">
        <div class="bg-grey-gradient rounded-4 p-5">
            <section class="row gy-5 justify-content-evenly align-items-center featurette">
                <div class="col-md-5 col-sm-12 fadeIn">
                    <h2 class="fw-bold display-6 grey-1">Latest release</h2>
                    <p class="lead grey-2 my-4">Season 07 is the latest in the Highjacked series. This mix embodies the spirit of uptown vibes, evoking a world of sophistication, luxury, and refinement in the world of Hip Hop and Trap music.</p>
                    <a href="{% url 'mix_detail' %}" class="btn btn-outline-light rounded-pill btn-lg py-2 px-5">Play now</a>
                </div>
                <div class="col-md-5 col-sm-12">
                    <img style="max-height: 80vh; width: 100%; object-fit: cover" src="{% static 'img/homepage/latest_mix_homepage.jpg' %}" alt="" class="img-fluid rounded-2 img-fluid fadeIn">
                </div>
            </section>
        </div>
    </div>

    <section class="container px-3 my-5">
        <div class="row g-4 my-5 py-5">
            <div class="col-sm-12 col-md-4">
                <div class="bg-grey-gradient rounded-2 p-4">
                    <div class="feature-icon mt-5 d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                        <i class="fa-solid grey-1 fa-record-vinyl fa-2xl"></i>
                    </div>
                    <h3 class="fs-2 grey-1 mt-3">Hip Hop</h3>
                    <p class="grey-2">Hip hop combines rhythmic spoken lyrics, DJing, breakdancing, and graffiti art, originating from urban culture and often addressing social issues.</p>
                    <a href="#" class="nav-link p-0">Explore playlist <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="bg-grey-gradient rounded-2 p-4">
                    <div class="feature-icon mt-5 d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                        <i class="fa-solid grey-1 fa-icons fa-2xl"></i>
                    </div>
                    <h3 class="fs-2 grey-1 mt-3">RnB</h3>
                    <p class="grey-2">R&B (Rythm and Blues) blends soulful vocals, smooth melodies, and rhythmic beats, often incorporating elements of funk, hip-hop, and pop.</p>
                    <a href="#" class="nav-link p-0">Explore playlist <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="bg-grey-gradient rounded-2 p-4">
                    <div class="feature-icon mt-5 d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                        <i class="fa-solid grey-1 fa-earth-africa fa-2xl"></i>
                    </div>
                    <h3 class="fs-2 grey-1 mt-3">Afrobeats</h3>
                    <p class="grey-2">Afrobeats merges West African musical styles with jazz, funk, and hip-hop, featuring upbeat rhythms, catchy melodies, and vibrant instrumentation.</p>
                    <a href="#" class="nav-link p-0">Explore playlist <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
            </div>
        </div>
    </section>

    <div class="container px-4 my-5">
        <div class="row rounded-4  bg-grey p-5 justify-content-center text-center">
            <div class="col-sm-10 col-md-8">
                <h3 class="grey-2 display-4 text-center">Subscribe to get notified when the next mix drops</h3>
                <a href="{% url 'newsletter' %}" class="btn btn-primary btn-lg mt-4 px-5">Subscribe</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
