{% load static %}
<nav style="background: linear-gradient(180deg, #000, #1a1a1a);" class="navbar navbar-expand-lg py-2 fixed-top" id="mainNav">
    <div class="container-fluid px-4">
        <a class="navbar-brand fw-bold" href="{% url 'index' %}">
            <img src="{% static 'logo/logo.svg' %}" style="height: 40px;" class="img-fluid">
        </a>
        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'mix_list' %}">Mixes</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'shop' %}">Shop</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'playlists' %}">Playlists</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'about' %}">About</a></li>
                <li>
                    <form method="GET" action="{% url 'search_mixes' %}" class="d-flex px-3 rounded-4" style="border-radius: 18px; background-color: #1a1a1a">
                        <button class="no-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input required type="text" name="q" class="form-control px-3 border-0" placeholder="Search..." value="{{ query }}" style="width: 340px; border-radius: 18px; background-color: #1a1a1a">
                    </form>
                </li>
            </ul>
            {% if request.user.is_superuser %}
            <div class="dropdown">
                <a class="no-btn ms-2 mb-2 mb-lg-0 dropdown-toggle hover"  id="dropdownAdmin" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_signout' %}">Log out</a></li>
                </ul>
            </div>
            {% elif request.user.is_authenticated %}
            <a style="text-decoration: none;" class="hover grey-1 ms-2 mb-2 mb-lg-0" href="{% url 'account_signout' %}">
                <span class="d-flex align-items-center">
                    <i class="fa-solid fa-right-from-bracket me-2"></i>
                    <span>Log out</span>
                </span>
            </a>
            {% else %}
            <button class="no-btn nav-link mb-2 ps-0 mb-lg-0" data-bs-toggle="modal" data-bs-target="#loginModal">
                <span class="d-flex align-items-center hover">
                    <i class="fa-solid fa-user me-2"></i>
                    <span>Log in</span>
                </span>
            </button>
            {% endif %}
        </div>
    </div>
</nav>