{% load static %}
<nav style="background: linear-gradient(180deg, #000000, #1a1a1a);" class="navbar navbar-expand-lg py-2 fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand fw-bold" href="{% url 'index' %}">
            <img src="{% static 'logo/logo.svg' %}" style="height: 40px; filter: contrast(0) brightness(3);" class="img-fluid">
        </a>
        <div class="d-flex flex-row align-items-center gap-3 d-lg-none">
            <div class="dropdown">
                {% if request.user.is_authenticated %}
                <a href="#" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.customer.profile_picture %}
                    <img src="{{ request.user.customer.square_thumbnail.url }}" alt="{{ request.user.first_name }}'s Profile Picture" style="height: 30px; width: 30px; object-fit: cover; border-radius: 50%">
                    {% else %}
                    <i class="fa-solid fa-user fa-lg text-white"></i>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end bg-gradient-down text-small shadow" aria-labelledby="dropdownProfile">
                    {% if request.user.is_superuser %}
                    <li>
                        <a class="dropdown-item" href="/admin/">
                            <span class="d-flex align-items-center">
                                <i class="fa-solid fa-user me-2"></i>
                                <span>Admin</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'send_newsletter_article' %}">
                            <span class="d-flex align-items-center">
                                <i class="fa-solid fa-envelope me-2"></i>
                                <span>Newsletter</span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'account_profile' request.user.username %}"><i class="fa-solid fa-gear me-2"></i> Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'account_signout' %}">
                            <span class="d-flex align-items-center">
                                <i class="fa-solid fa-right-from-bracket me-2"></i>
                                <span>Log out</span>
                            </span>
                        </a>
                    </li>
                </ul>
                {% else %}
                <button role="button" class="btn btn-outline-light rounded-2 btn-sm" data-bs-toggle="modal" data-bs-target="#loginModal">
                    <span class="d-flex align-items-center hover">
                        <i class="fa-solid fa-user me-2"></i>
                        <span>Log in</span>
                    </span>
                </button>
                {% endif %}
            </div>
            <button class="navbar-toggler collapsed d-flex flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-2 {% if '/mixes/' in request.path %}text-primary{% endif %}" href="{% url 'mix_list' %}">Mixes</a></li>
                <li class="nav-item">
                    <div class="dropdown nav-link me-lg-2 {% if '/remixes/' in request.path %}text-primary{% endif %} {% if '/playlists/' in request.path %}text-primary{% endif %}">
                        <a class="no-btn mb-2 mb-lg-0 dropdown-toggle hover"  id="dropdownMusic" data-bs-toggle="dropdown" aria-expanded="false">Music</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMusic">
                            <li><a class="dropdown-item {% if '/remixes/' in request.path %}bg-light text-dark{% endif %}" href="{% url 'remixes_list' %}">Remixes</a></li>
                            <li><a class="dropdown-item {% if '/playlists/' in request.path %}bg-light text-dark{% endif %}" href="{% url 'playlists' %}">Playlists</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link me-lg-3 {% if '/shop/' in request.path %}text-primary{% endif %}" href="{% url 'shop' %}">Shop</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3 {% if '/blogs/' in request.path %}text-primary{% endif %}" href="{% url 'blog_list' %}">Blogs</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3 {% if '/events/' in request.path %}text-primary{% endif %}" href="{% url 'event_list' %}">Events</a></li>
                <li class="nav-item">
                    <div class="me-lg-3">
                        <form method="GET" action="{% url 'search' %}" class="col" onsubmit="showSpinner()">
                            <div class="input-group">
                                <input required placeholder="Search..." type="text" class="form-control bg-dark rounded-start" name="q" value="{{ query }}">
                                <button id="submit-btn" class="btn btn-outline-dark rounded-end-4" value="Search" type="submit" aria-describedby="search">
                                    <span id="submit-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                                    <span id="spinner" class="spinner-border spinner-border-sm d-none text-grey-1" role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <div class="dropdown d-sm-none d-md-none d-lg-block">
                <a href="#" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.customer.profile_picture %}
                    <img src="{{ request.user.customer.square_thumbnail.url }}" alt="{{ request.user.first_name }}'s Profile Picture" style="height: 30px; width: 30px; object-fit: cover; border-radius: 50%">
                    {% else %}
                    <i class="fa-solid fa-user fa-lg text-white"></i>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end bg-gradient-down text-small shadow" aria-labelledby="dropdownProfile">
                    {% if request.user.is_superuser %}
                    <li>
                        <a class="dropdown-item" href="/admin/">
                            <span class="d-flex align-items-center">
                                <i class="fa-solid fa-user me-2"></i>
                                <span>Admin</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'send_newsletter_article' %}">
                            <span class="d-flex align-items-center">
                                <i class="fa-solid fa-envelope me-2"></i>
                                <span>Newsletter</span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'account_profile' request.user.username %}"><i class="fa-solid fa-gear me-2"></i> Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'account_signout' %}">
                            <span class="d-flex align-items-center">
                                <i class="fa-solid fa-right-from-bracket me-2"></i>
                                <span>Log out</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            {% else %}
            <button role="button" class="btn btn-outline-light rounded-2 mb-2 mb-lg-0 d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#loginModal">
                <span class="d-flex align-items-center hover">
                    <i class="fa-solid fa-user me-2"></i>
                    <span>Log in</span>
                </span>
            </button>
            {% endif %}
        </div>
    </div>
</nav>
