{% extends 'base.html' %}
{% block body %}
{% load hitcount_tags %}
<main class="container-fluid px-0">
    <div class="container px-4 py-5">
        <button onclick="goBack()" class="no-btn ps-0 text-grey-5 mb-3 hover-underline"><i class="fa-solid fa-xl fa-arrow-left me-2"></i> Back to remixes</button>
        <div class="row gy-4 justify-content-evenly">
            <div class="col-sm-12 col-lg-6 fadeIn">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{{ remix.landscape_cover.url }}">
                    <source media="(min-width: 992px)" srcset="{{ remix.meta_thumbnail.url }}">
                    <source media="(min-width: 576px)" srcset="{{ remix.meta_thumbnail.url }}">
                    <img src="{{ remix.landscape_cover.url }}" alt="{{ remix.title }}'s cover" class="img-fluid rounded-4">
                </picture>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h1 class="text-white mb-3">{{ remix.title }}</h1>
                <p class="text-grey-3 my-0">Artists: {{ remix.artist }}</p>
                <p class="text-grey-3 my-0">Released: {{ remix.release_date|date:"jS F, Y" }}</p>
                <p class="text-grey-3 my-0">Vibes: {{ remix.genre }}</p>
                {% if request.user.is_authenticated %}
                <p class="text-grey-3 my-0">{{ remix.get_download_count }} Downloads &#183; Viewed {% get_hit_count for remix %} Times</p>
                {% endif %}
                <div class="mt-1">
                    {% if not request.user.is_authenticated %}
                    <button role="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="no-btn text-grey-3">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span class="like-text">Like</span>
                    </button>
                    {% elif remix in user.customer.liked_remixes.all %}
                    <div data-id="{{ remix.id }}" data-type="remix" class="no-btn text-primary-4 hover-like like-btn">
                        <i class="fa-solid fa-thumbs-up like-icon"></i>
                        <span class="like-text">Liked</span>
                    </div>
                    {% else %}
                    <div data-id="{{ remix.id }}" data-type="remix" class="no-btn text-grey-4 hover-like like-btn">
                        <i class="fa-solid fa-thumbs-up like-icon"></i>
                        <span class="like-text">Like</span>
                    </div>
                    {% endif %}
                </div>
                <div class="d-flex mt-2 flex-row align-items-center gap-3 justify-content-between">
                    {% if remix.is_video_link %}
                    <a href="{{ remix.video_download_link }}" target="_blank" class="btn btn-outline-light rounded-2 w-100 mt-3">Download Video <i class="ms-1 fa-solid fa-circle-down"></i></a>
                    {% endif %}
                    {% if remix.is_audio_link %}
                    <a href="{{ remix.audio_download_link }}" target="_blank" class="btn btn-outline-light rounded-2 w-100 mt-3">Download Audio <i class="ms-1 fa-solid fa-circle-down"></i></a>
                    {% endif %}
                </div>
                <button class="btn btn-primary fadeInUp rounded-2 w-100 mt-3 btn-lg" data-bs-toggle="modal" data-bs-target="#supportModal">
                    Support <i class="ms-1 fa-solid fa-hand-holding-dollar"></i>
                </button>
            </div>
        </div>
    </div>
    <section class="px-0 py-5 mt-5" style="background-color: #141414;">
        {% include "components/newsletter_banner.html" %}
    </section>
</main>
{% include "modals/support.html" %}
{% if request.user.is_authenticated %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const likeButtons = document.querySelectorAll(".like-btn");
        likeButtons.forEach(button => {
            button.addEventListener("click", function () {
                const itemId = this.dataset.id;
                const itemType = this.dataset.type;
                const url = `/account/like/${itemType}/${itemId}/`;
                fetch(url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const icon = this.querySelector(".like-icon");
                    const text = this.querySelector(".like-text");
                    if (data.liked) {
                        icon.classList.add("liked");
                        text.textContent = "Liked";
                        icon.style.color = "#99f1ea";
                        text.style.color = "#99f1ea";
                    } else {
                        icon.classList.remove("liked");
                        text.textContent = "Like";
                        icon.style.color = "#b0b0b0";
                        text.style.color = "#b0b0b0";
                    }
                });
            });
        });
    });
</script>
{% endif %}
{% endblock %}
