<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to DJ G400's Newsletter!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; font-family: Space Grotesk, sans-serif; align-items: center; text-align: center">
    <main style="width: 100%; width: 600px; margin: auto; padding: 20px;">
        <section style="margin-top: 30px; display: flex; justify-content: center;">
            <img src="https://www.djg400.com/static/img/newsletter/newsletter_welcome.png" alt="Welcome to DJ G400's Newsletter!" style="border-radius: 12px; height: auto; width: 100%; object-fit: cover; margin: 30px auto; text-align: center;">
        </section>
        <section style="margin: 30px 0; display: flex; justify-content: center;">
            <div style="color: #212121;"> 
                <h2 style="margin: 0 0 10px; font-size: 1.2rem; text-align: left;">Hey,</h2>
                <p style="margin: 10px 0; font-size: 0.9rem; color: #212121; text-align: left;">Thank you for subscribing to my newsletter. You’ll now receive the latest updates on new mixes, playlists, events, exclusive art, merchandise drops, and all the exciting news from the DJ G400 straight to your inbox.</p>
                <div style="display: flex; justify-content: left;">
                    <a href="https://www.djg400.com/blogs/" style="display: inline-block; padding: 10px 30px; background-color: #30d5c8; color: #fff; border-radius: 5px; text-decoration: none; margin-top: 20px; text-align: left;">Read Blogs</a>
                </div>
            </div>
        </section>
        <section style="margin-top: 100px; display: flex; justify-content: center;">
            <div style="text-align: center; color: #585858; padding: 30px;background-color: #f9f9f9; border-radius: 12px">
                <div style="padding-bottom: 20px; border-bottom: 1px solid #ddd;">
                    <p style="margin: 0;">&#169;2025 DJ G400. All rights reserved.</p>
                    <ul style="list-style: none; padding: 0; margin: 10px 0 0 0; display: inline-flex; gap: 10px; justify-content: center;">
                        <li><a href="https://www.instagram.com/djg400.com/" style="color: #16675e; text-decoration: none; font-size: 1rem;">Instagram</a></li>
                        <li><a href="https://podcasts.apple.com/ke/podcast/dj-g400-mixes/id1645709049" style="color: #16675e; text-decoration: none; font-size: 1rem; margin: auto 7px">Apple</a></li>
                        <li><a href="https://www.youtube.com/channel/UC9HP_DqruMAplsz0-ynveaQ" style="color: #16675e; text-decoration: none; font-size: 1rem;">YouTube</a></li>
                        <li><a href="https://x.com/djg400/" style="color: #16675e; text-decoration: none; font-size: 1rem; margin-left: 7px">Twitter</a></li>
                    </ul>
                </div>
                <div style="margin-top: 20px;">
                    <p style="font-size: .9rem; color: #585858;">This email was sent to <a style="color: #16675e; text-decoration: none;" href="mailto:{{ subscriber_email }}">{{ subscriber_email }}</a> because you signed up at <a style="color: #16675e; text-decoration: none;" href="https://www.djg400.com/">djg400.com</a>. If you don't want to receive this type of emails anymore, you can <a href="https://www.djg400.com/newsletter/unsubscribe/" style="color: #16675e; text-decoration: none;">unsubscribe</a> at any time.</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>